#sidebar {
  width: 34%;
  float: left;
  margin-left: 10%;
  text-align: left;
  h2 {
    margin: 70px 0 35px 0;
    white-space: nowrap;
  }
  h2.dev:before {
    content: "\f121";
    width: 20px;
    font-family: FontAwesome;
    display: inline-block;
    color: $cyan;
    padding-right: 20px;
    vertical-align: bottom;
    font-size: 20px;
  }
  h2.design:before {
    content: "\f1fc" !important;
    @extend h2.dev:before
  }
  h2.github:before {
    content: "\f09b" !important;
    @extend h2.dev:before
  }
  h2:first-child {
    margin-top: 0px;
  }
  p {
    margin: 0 0 15px 0;
    max-width: 350px;
    opacity: .8;
    @include transition(all .3s ease);
    span {
      color: $cyan
    }
  }
  p.case-study {
    opacity: 1;
    margin-bottom: 0px;
    font-size: $global-font-size - .125;
    margin-top: 30px;
    color: $cyan;
    @include transition(all .3s ease);
  }
  p.grey {
    margin-bottom: 0px;
    opacity: .3
  }
  .cyan {
    color: $cyan;
  }
  img {
    opacity: .8;
    margin: 10px 0 5px 0;
    max-width: 99%;
    @include transition(all .3s ease);
    width: 100%;
    -webkit-backface-visibility: hidden;
  }
  .case-study-wrap:hover {
    img {
      opacity: .2;
      -webkit-backface-visibility: hidden;
      @include transition(all 1.5s ease);
    }
    p {
      opacity: .5
    }
    p.case-study {
      opacity: .8;
    }
    p.grey {
      opacity: .2;
    }
    video {
      opacity: .1;
    }
  }
  .case-study-wrap.archive>p {
    margin-top: 5px !important;
  }
  .case-study-wrap.archive {
    margin-top: 30px;
    a {
      text-decoration: none;
      color: $cyan;
      @include transition(all .3s ease);
    }
  }
  video {
    margin: 10px 0 5px 0;
    opacity: .5;
    width: 100%;
    @include transition(all 1s ease);
  }
}
.hover-wrap {
  position: relative;
  svg {
    position: absolute;
    top: 10px;
	left: 0px;
    width: 100%;
    height: auto !important;
  }
}
.hover svg {
  opacity: 1;
  path {
    @include webdraw(3.5s);
  }
}