#testimonials {
  width: 100%;
  overflow: hidden;
  margin: 60px 0 70px 0;
  text-align: left;
  .testimonials-wrap {
    height: 120px;
    overflow: hidden;
    position: relative
  }
  a {
    color: $cyan;
    text-decoration: none;
    text-transform: lowercase;
    position: relative;
    z-index: 1000;
    clear: both;
    display: block;
    width: 100%;
    position: relative;
    display: block;
    padding-top: 20px;
    top: -20px;
    margin-bottom: -20px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
  }
  .line {
    color: #666;
  }
  .bottom-fade {
    width: 100%;
    position: relative;
    display: block;
    padding-top: 150px;
    top: -150px;
    margin-bottom: -150px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
  }
  .name {
    display: block;
    color: $white;
    opacity: .7
  }
  .position {
    display: block;
    color: $white;
    opacity: .3
  }
  .testimonial {
    width: 30%;
    float: left;
    padding: 0 3% 10px 0;
  }
  .first {
    clear: both;
  }
}
