#testimonials {
  width: 100%;
  text-align: left;
  .bottom-fade {
    clear:both;
  }
  a {
    color: $cyan;
    text-decoration: none;
    text-transform: lowercase;
    position: relative;
    z-index: 1000;
    clear: both;
    display: block;
    width: 100%;
    position: relative;
    display: block;
    padding-top: 20px;
    top: -20px;
    margin-bottom: -20px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
  }
  .line {
    color: #666;
	}
  .name {
    display: block;
    color: $white;
    opacity: .7
  }
  .position {
    display: block;
    color: $white;
    opacity: .3
  }
  .testimonial {
    width: 30%;
    float: left;
    padding: 0 3% 10px 0;
  }
  .first {
    clear: both;
  }
}

.collapse-link {
  position: relative;
  text-align: left;
  height: 100px;
  padding-top: 150px;
  margin-bottom: -100px;
  top: -100px;
}
.expand-link {
  @extend .collapse-link;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 1)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
}
.collapse-link a, .expand-link a {
  color: $cyan;
  text-decoration: none;
}
.bottom-testimonials {
  overflow: hidden;
  color: #666;
  margin-top: -235px;
  margin-bottom: 115px;
}