/* Variables */

$primary-font: 'Cutive Mono', monospace;
$secondary-font: 'Nunito Sans', sans-serif;
$global-line-height: 1.25em;
$global-font-size: 1em;
$white: #ffffff;
$cyan: #00ffff;
$black: #000000;